body {
  font-family: "Teko";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 2em;
  box-sizing: border-box;
  background: #f2f2f2; /* Change the background color to a modern style */
  color: #333; /* Change the text color to a darker shade */
  background: linear-gradient(45deg, #2980b9, #6dd5fa, #a3dcf1);

}

html {
  box-sizing: border-box;
  height: 100%;
}

small {
  opacity: 0.4;
  margin-top: 20px;
  display: block;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.6);
  text-align: center;
  margin-bottom: 0;
  font-size: 2em;
  line-height: 1.3em;
  font-weight: bold;
  margin-top: 0.67em;
}

.todo-list {
  padding-top: 10px;
  width: 400px;
}

.todo {
  background: #fff;
  padding: 3px 10px;
  font-size: 0.7em;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-text {
  cursor: pointer;
}

.todo-completed {
  cursor: pointer;
  text-decoration:#03f7ba line-through;
  color: #adadad; 
  transition: text-decoration 0.6s ease, color 0.5s ease;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  margin-left: 5px;
}

input {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 7px 10px;
  font-size: 0.5em;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #000;
  outline: 0;
  border: 0;
  flex: 1;
  border-radius: 4px;
}
.inner-input{
  background: linear-gradient(45deg, #ffffff, #89d1eb);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
  font-size: 0.8em;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #000;
  outline: 0;
  border: 0;
  flex: 1;
  border-radius: 4px;
}
form {
  border-bottom: 1px solid;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.submit-button {
  color: #000;
  background: #03f7ba;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 0 20px;
}
.submit-button:hover{
  color:#03f7ba;
  background:#000 ;
}
.icon-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.action-button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  transition: transform 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
}


.action-button:not(:hover) {
  color: #333;
}


.action-button:hover {
  background-color: #00d9ff;
  border-radius: 50%; 
  color: white; 
  transform: scale(1.05); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 380px) {
  body {
    font-size: 2em;
  }

  .todo-list {
    width:100%;
  }
}
